{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    {% include 'components/menu.html' %}
    
    <section class="container">
        {% include 'components/alertas.html' %}
        <div class='d-flex justify-content-center'>
            <p class='text-body'>Sua Url: </p>
            <a href='{{full_url}}'>{{full_url}}</a>
        </div>
        <br>
        <p>Url encurtada:</p>
        <br>
        <a href='http://localhost:8000/{{hash}}'>http://localhost:8000/{{hash}}</a>
        <br>
        <div id="qrcode"></div>
        <br>        

        <a id="downloadLink" download="qrcode.png">Baixar QRcode.</a>
    </section>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/qrcode.js'></script>
    <script>
        $(document).ready(function(){

            // Clear Previous QR Code
            $('#qrcode').empty();

            // Set Size to Match User Input
            $('#qrcode').css({
                'width' : 128,
                'height' : 128
            })

            // Generate and Output QR Code
            $('#qrcode').qrcode({width: 128,height: 128,text: 'http://localhost:8000/{{hash}}'});
            var canvas = document.getElementsByTagName("canvas")
            const downloadURL = canvas[0].toDataURL("image/png");
            document.getElementById('downloadLink').href = downloadURL;

        });

    </script>
    {% include 'components/footer.html' %}
{% endblock %}