{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    {% include 'components/menu.html' %}
    <section class='container p-4'>
        {% include 'components/alertas.html' %}
        <form action="{% url 'create_url' %}" method='POST'>{% csrf_token %}
            <div class='form-group row'>
                <label for="url" class='text-body col-form-label col-sm-1'>URL:</label>
                <div class='col-sm-11'>
                    <input type="text" name='url', id='url' class='form-control text-body' placeholder='Insira sua url' required>
                </div>
            </div>
            <button type='submit' class='btn btn-primary mb-2'>Gerar</button>
        </form>
    </section>

    {% include 'components/footer.html' %}
{% endblock %}