@charset 'utf-8';

:root {
    --page-background: #1C1C1C;
    --page-text: white;
}

*{
    padding: 0%;
    margin: 0;
    color: white;
}

html{
    width: 100%;
    height: 100%;
}

.card-black{
    margin: 20px 0;
    border: 2px solid black;
}

.card-header-black{
    background-color: #363636;
    color: white;
    border: 2px solid black;
}

.card-body-black{
    background-color: #4F4F4F;
    color: white;
}

.form-control{
    /*border: 2px solid #1C1C1C;*/
    border: 2px solid black;
}

.menu{
    width: 100%;
    background-color: var(--page-background);
    padding: 20px 0;
    top: 0%;
}

.texto-comen{
    background-color: #696969;
}

a{
    text-decoration: none;
    color: white;
}  

footer{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: var(--page-background);
}

footer p{
    color: var(--page-text);
}